server:
  port: ${SERVER_PORT}
  servlet:
    context-path: /
weather:
  api:
    key: ${WEATHER_API_KEY}
quote:
  api:
    key: ${QUOTE_API}
jwt:
  secrete_key: ${JWT_SECRETE_KEY}
spring:
  redis:
    host: ${REDIS_HOST}
    port: ${REDIS_PORT}
    password: ${REDIS_PASSWORD}
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: journaldb
      auto-index-creation: true
  mail:
    host: ${JAVA_EMAIL_HOST}
    port: ${JAVA_EMAIL_PORT}
    username: ${JAVA_EMAIL_ADDRESS}
    password: ${JAVA_EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}

  kafka:
    bootstrap-servers: ${KAFKA_SERVERS}
    consumer:
      group-id: weekly-sentiment-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: com.mohithasan.journalapp.model
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

# ./mvnw clean install -DskipTests sonar:sonar  -Dsonar.login=squ_9a9877e9aa0e365ed1720a700d16259c3eed4374

